@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

h1 {
    font-family : "Arial Black", Gadget, sans-serif;
}


body, html {
    background-color: black;
    height: 100%;
}

.bg-image{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Source Code Pro', monospace;  
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;

}

.bg-text{  
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.img1{
    background-image: linear-gradient(rgba(80, 79, 79, 0.6),rgba(46, 45, 45, 0.6)),url("../img/GoldenGateBridge.jpg");
  }

.img2{
    background-image: linear-gradient(rgba(80, 79, 79, 0.6),rgba(46, 45, 45, 0.6)),url("../img/vball\ pic\ 1.jpg");
}

.img3{
    background-image: linear-gradient(rgba(80, 79, 79, 0.6),rgba(46, 45, 45, 0.6)),url("../img/UCI.jpg");
}

.img4{
  background-image: linear-gradient(rgba(80, 79, 79, 0.6),rgba(46, 45, 45, 0.6)),url("../img/running.jpg");
}


 

 
