.profile {
    border-radius: 20%;
    display: block;
    position: absolute;
    top: 200px;
    left: 200px;
}

body {
    background-color: white;
    background-image:  url("../img/code.gif");
    background-size: cover;
}

#chatwords{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    font-family: "American Typewriter";
    padding: 10px;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50px;

    border-top: 26px solid transparent;
    border-right: 52px solid  rgb(50, 119, 161); 
    border-bottom: 52px solid transparent;
}

.talkbubble {
    width: 550px;
    height: 350px;
    background: rgb(50, 119, 161);
    position: relative;
    -moz-border-radius: 40px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    top: 75px;
    left: 550px;
    box-shadow: 10px 10px rgb(137, 178, 204);
}
