body {
    background-image: url("../img/comingsoon.gif");
    background-repeat: no-repeat;
    background-size: 600px;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    
}

